.header {
  height: 80px;
  width: 100%;
  padding: 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  color: rgb(var(--text-color));
  background-color: rgb(var(--secondary-color));
  z-index: 1;

  .menu_icon {
    display: none;
    cursor: pointer;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
  }

  .menu {
    display: flex;
    gap: 40px;
    z-index: 2;

    li {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 30px;
        height: 2px;
        width: 0px;
        border-radius: 10px;
        opacity: 0;
        background-color: rgb(var(--primary-color));
        transition: all linear 0.4s;
      }

      &:hover {
        &::before {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }

  .containerProfile {
    display: flex;
    gap: 20px;

    .profile {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &_icon {
        width: 45px;
        height: 45px;
        background-color: rgb(var(--secondary-color-hover));
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
      }
    }

    .login {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

@media (max-width: 1600px) {
  .header {
    padding: 0px 50px;
    justify-content: flex-start;
    gap: 40px;
    position: relative;

    .menu_icon {
      display: block;
    }

    .menu {
      display: none;
    }

    .profile {
      position: absolute;
      right: 50px;
    }

    .login {
      position: absolute;
      right: 50px;
    }
  }
}
