.page {
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;

  .top {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 40px;

    .create_user {
      display: flex;
      align-items: center;
      margin-left: 20px;
      padding: 5px;
      border-radius: 5px;

      &:hover {
        background-color: #eee;
      }
    }

    .getReport {
      border: none;
      padding: 5px;
      border-radius: 5px;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }

  .table_container {
    height: 650px;

    .table {
      width: 1400px;
      background-color: #fff;
      border-radius: 15px;
      border: none;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      border-collapse: collapse;

      thead {
        tr {
          height: 50px;

          td {
            font-weight: bold;
            text-align: left;
            border: none;
            font-size: 18px;
            padding: 10px 15px;
            background: #e4e4e4;

            &:first-child {
              border-radius: 8px 0 0 8px;
            }

            &:last-child {
              border-radius: 0 8px 8px 0;
            }
          }
        }
      }

      tbody {
        tr {
          height: 50px;

          &:hover .menu {
            opacity: 1;
          }

          td {
            text-align: left;
            border: none;
            padding: 10px 15px;
            font-size: 20px;
            vertical-align: top;

            .ellipsis {
              margin-top: 2px;
              color: #5d5d5d;
              cursor: pointer;
              opacity: 0;
            }
          }

          .menu {
            width: 90px;
            display: flex;
            gap: 10px;
            padding: 5px;
            opacity: 0;
            transition: all linear 0.2s;

            .btn {
              padding: 5px;
              border: none;
              background-color: #fff;
              cursor: pointer;
              border-radius: 8px;
              transition: all linear 0.2s;

              svg {
                width: 24px;
                height: 24px;
              }

              &:hover {
                background-color: #e5e5e5;
              }
            }

            .edit:hover {
              color: #2d7aff;
            }

            .trash:hover {
              color: #ff3636;
            }
          }
        }
      }
    }
  }
}
