.page {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;

    .events_block {
      min-height: 600px;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: min-content min-content min-content;
      row-gap: 20px;
      column-gap: 50px;
    }
  }
}
