.sidebar {
  height: 100svh;
  border-right: 2px solid #ededed;
  background-color: #fff;
  font-size: 20px;
  position: relative;
  transition: width ease 0.4s;

  ul {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;

    li {
      list-style-type: none;
      width: 100%;

      a {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        border-radius: 8px;
        height: 50px;

        &:hover {
          background-color: #ededed;
        }
      }

      .active {
        background-color: #ededed;
      }

      &:nth-last-child(-n + 1) {
        width: 225px;
        position: absolute;
        bottom: 10px;
      }
    }
  }
}
